@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900');

body{
    background-color: #110024;
    position: relative;
    overflow: hidden; 
}

.music{
    position: absolute;
    display: flex;
    right: 30px;
    top: 30px;
    background-color: #f8f8f5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    user-select: none;
    align-items: center;
}

.music_on{
    cursor: pointer;
}

.music_off{
    cursor: pointer;
}

.main_character{
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: -10;
    transform: rotate(330deg);
    user-select: none;
    transition: all 0.5s ease-in-out;
}

.background{
    width : 1200px;
    height : 800px;
    z-index: -10;
    user-select: none;
    position: absolute;
    top: -45px;
    left: 140px; 
}

.invisable{
    display: none;
}

.click_block{
    display: flex;
    position: absolute;
    width: 170px;
    height: 50px;
    top: 40px;
    cursor: pointer;
    font-family: 'MuseoModerno', cursive;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#click_info{
    left:215px;
    color: #d4f3ff;
}

#click_animation{
    left:500px;
}

#click_test{
    left:790px;
}

.background_block{
    width: 1125px;
    height: 590px;
    position: absolute;
    top: 100px;
    left: 200px;
    user-select: none;
}

#info_title{
    width: 1125px;
    top: 60px;
    position: absolute;
    font-family: 'MuseoModerno', cursive;
    font-size: 80px;
    text-align: center;
    color:rgba(0, 28, 79, 0.961);
}

#info_content{
    position: absolute;
    width: 910px;
    top: 190px;
    left: 100px;
    font-size: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    line-height: 55px;
    color:rgba(1, 36, 102, 0.961);
}

.anima_info{
    position: absolute;
    font-size: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    color: rgba(0, 85, 128, 0.963);
    font-weight: bold;
    right: 130px;
    top: 20px;
}

.num_block{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 53, 127);;
    position: absolute;
    color:rgb(243, 253, 255);
    font-size: 60px;
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    border-radius: 20px;
    top: 200px;
    transition: left 1s ease 0.5s, background-color 1s ease 0.5s;
}

#num_10{
    left: 170px;
}
#num_20{
    left: 60px;
}
#num_30{
    left: 390px;
}
#num_40{
    left: 280px;
}

.slider_container{
    position: absolute;
    width: 400px;
    height:100px;
    bottom: 50px;
    left: 80px;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: #d3d3d3;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: #004887;
    cursor: pointer;
}

.anima_code{
    position: absolute;
    width: 480px;
    height: 380px;
    right: 50px;
    top: 70px;
    font-size: 23px;
    font-family: 'Consolas';
    line-height: 30px;
    padding: 13px;
    border-radius: 10px;
    background-color: rgb(124, 235, 255);
    color: rgb(0, 62, 96);
}

.iterator_block{
    position: absolute;
    width:510px;
    height: 100px;
    bottom: 10px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iterator{
    position: absolute;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-family: 'Consolas';
    color:rgba(0, 85, 128, 0.963);
    display: flex;
}

.pointer{
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    color:#08007c;
    top: 120px;
    display: none;
    transition: left 1.3s ease .2s;
}

#pointer_1{
    left: 100px;
}

#pointer_2{
    left: 210px;
}

.hint_button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 25px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    border-radius: 30%;
    background-color: rgba(186, 186, 186, 0.963);
    padding: 8px;
    border-style: outset;
    border-width: 5px;
    border-color: rgb(225, 225, 225);
    color:rgba(50, 50, 50, 0.963);
    cursor: pointer;
}

.hint .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(0);
    background-color: #062948;
    color: #ffffff;
    width: 550px;
    height: 350px;
    border-radius: 5%;
    border-color: #95999c;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    padding: 37px;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
    font-size: 23px;
    user-select: none;
}

.hint.active .content{
    transition: all 0.5s ease-in-out;
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hint_text{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 25px;
    text-align: left;
    display: flex;
    align-items: center;
}

.speak_bubble{
    position: absolute;
    left: 360px;
    top: 150px;
    width: 400px;
    transform: rotate(-15deg);
    transition: all 0.5s ease-in-out;
}

.speak_text{
    position: absolute;
    top: 220px;
    left: 500px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 33px;
    user-select: none;
    transition: all 0.5s ease-in-out;
}

.boss_block{
    position: absolute;
    left: 200px;
    top: 300px;
    width: 110px;
    height: 110px;
}

.boss{
    width: 220px;
    height: 220px;
}

.test_code{
    position: absolute;
    width: 500px;
    height: 320px;
    right: 220px;
    top: 120px;
    font-size: 22px;
    font-family: 'Consolas';
    line-height: 25px;
    padding: 25px;
    border-radius: 10px;
    background-color: rgb(124, 235, 255);
    color: rgb(0, 62, 96);
    user-select: none;
}

.test_box{
    position: absolute;
    left: 100px;
    bottom: 100px;
    width: 300px;
    height: 100px;
}

.mission1_test{
    position: absolute;
    left: 180px;
    top: 500px;
    width: 600px;
    height: 150px;
    user-select: none;;
}

.blank{
    border-radius: 20px;
    background-color: #ffffff;
    border-color: #ff0101;
    border-style: dashed;
    border-width: 3px;
    cursor: pointer;
}

.answer_block{
    position: absolute;
    top: 500px;
    right: 220px;
    width: 550px;
    height: 130px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.ans{
    font-size: 30px;
    background-color: rgb(191, 225, 255);
    border-radius: 20px;
    user-select: none;
    height: 60px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    border-color: rgba(0, 39, 110, 0.961);
    border-style: solid;
    border-width: 5px;
    font-family: 'Noto Sans TC', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    color:rgba(0, 39, 110, 0.961);
}

.ans:hover{
    background-color: rgb(123, 159, 190);
}